{% extends 'base.html' %}

{% block content%}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum dignissimos quos iste, quas, 
            explicabo tenetur voluptatum ut distinctio debitis sapiente nesciunt iusto corporis omnis quod
            vero beatae veniam tempore nemo!
        </p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}