{% extends 'base.html' %}


{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-5">Tasks Pending</h1>
            <br>
            <div class="text-center">
                <button class="btn btn-primary">
                    <a href="{% url 'create_task' %}" class="nav-link">Create Task</a>
                </button>    
            </div>
            <ul class="list-group">
                {% for task in tasks %}

                <a href="{% url 'task_detail' task.id %}" class="list-group-item">
                    <header class="d-flex justify-content-between">
                        {% if task.important %} <!-- Usamos Jinja para validar si es importante o no la tarea, antes de -->
                            <h1 class="fw-bold text-warning">{{task.title}}</h1>                   
                        {% else %}
                           <h1 class="fw-bold"> {{task.title}}</h1>
                        {% endif %}                        
                    <p>{{task.user.username}}</p>
                    </header>
                    <p>{{task.description}}</p>

                    <p>{{task.datecompleted|date:'M j Y:i'}}</p><!--Valor que aparecera cuando se use la view task_completed que trae las tareas completadas-->
                    <form action="{% url 'complete_task' task.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-secondary">
                            Complete
                        </button>
                    </form>
                </a>
                
                {% endfor %}

            </ul>
        </div>
    </div>
</main>
{% endblock%}